In [35]:
import pandas as pd
import numpy as np

In [36]:
all_table=pd.read_csv("output_all_deg5.csv")

In [40]:
for ht in range(0,6):
    table_zeros=all_table[all_table["zero_terms"]==ht]
    print(table_zeros["galois_group"].value_counts())

galois_group
D(5) = 5:2    155
A5             78
C(5) = 5        6
F(5) = 5:4      6
Name: count, dtype: int64
galois_group
D(5) = 5:2    11
A5            10
C(5) = 5       6
F(5) = 5:4     2
Name: count, dtype: int64
galois_group
F(5) = 5:4    2
Name: count, dtype: int64
galois_group
F(5) = 5:4    3
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)

all_table["quad_1"]=all_table["term_1"]**2-3*all_table["term_0"]*all_table["term_2"]
all_table["quad_2"]=all_table["term_1"]*all_table["term_2"]-9*all_table["term_0"]*all_table["term_3"]
all_table["quad_3"]=all_table["term_2"]**2-3*all_table["term_1"]*all_table["term_3"]

all_table["suma"]=all_table["term_1"]+all_table["term_0"]+all_table["term_2"]+all_table["term_3"]+all_table["term_4"]

In [56]:
one_zero=all_table[all_table["zero_terms"]==0]

In [57]:
sepF5=one_zero.loc[one_zero["galois_group"]=="F(5) = 5:4"]

In [58]:
sepF5.sort_values(["term_0","term_1","term_2", "term_3","term_4"])

,polynomial,term_0,term_1,term_2,term_3,term_4,term_5,term_6,gcd,zero_terms,galois_group,discriminant
24,x^5 + 7*x^4 - x^3 + 8*x^2 + x + 1,-19,39/2,-15/2,-90,-195/2,-141/2,103/2,1/2,0,F(5) = 5:4,15962337
18,x^5 + x^4 + 4*x^3 + 2*x^2 + x + 1,-4,-27,-15,-16,6,-9,-9,1,0,F(5) = 5:4,35152
17,x^5 + x^4 + 2*x^3 + 4*x^2 + x + 1,-9,-9,6,-16,-15,-27,-4,1,0,F(5) = 5:4,35152
20,x^5 + 3*x^4 + x^3 - x + 1,1,-15/2,-87/2,-4,33/2,9/2,13/2,1,0,F(5) = 5:4,44217
19,x^5 + x^4 + 8*x^3 - x^2 + 7*x + 1,103/2,-141/2,-195/2,-90,-15/2,39/2,-19,1/2,0,F(5) = 5:4,15962337
15,x^5 - x^4 + x^2 + 3*x + 1,13/2,9/2,33/2,-4,-87/2,-15/2,1,1,0,F(5) = 5:4,44217

In [32]:
all_table[all_table["zero_terms"]==1]

,polynomial,term_0,term_1,term_2,term_3,term_4,gcd,zero_terms,galois_group,discriminant,suma
4,x^5 - 2*x^4 - 5*x^3 + 2*x^2 + 4*x + 1,22,55,33,0,11,11,1,C(5) = 5,14641,121
7,x^5 + 3*x^4 - 3*x^3 - 4*x^2 + x + 1,22,33,0,-11,11,11,1,C(5) = 5,14641,55
22,x^5 + 5*x^4 - 10*x^3 + 10*x^2 - 5*x + 1,0,-50,150,-150,50,50,1,F(5) = 5:4,50000,0
65,x^5 + x^4 + x^3 - 2*x^2 + x + 1,18,-75,0,27,15,3,1,A5,42849,-15
86,x^5 + 4*x^4 + x^3 + 7*x^2 - 2*x + 1,0,447,99,189,69,3,1,A5,2862864,804
244,x^5 + 4*x^4 + x^3 + 4*x^2 - 4*x + 1,-84,119,21,0,21,7,1,D(5) = 5:2,693889,77

In [5]:
three_zeros=all_table[all_table["zero_terms"]==3]

In [6]:
three_zeros

,polynomial,term_0,term_1,term_2,term_3,term_4,term_5,term_6,gcd,zero_terms,galois_group,discriminant
22,x^5 + 5*x^4 - 10*x^3 + 10*x^2 - 5*x + 1,0,0,0,-50,150,-150,50,50,3,F(5) = 5:4,50000

In [104]:
two_zeros=all_table[all_table["zero_terms"]==2]
sep1=two_zeros[two_zeros["galois_group"]=="E(4) = 2[x]2"]
sep2=two_zeros[two_zeros["galois_group"]=="D(4)"]

In [107]:
sep1.sort_values(["term_0","term_1","term_2", "term_3"])

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3
28982,x^4 - 15*x^3 + 2*x^2 + 15*x + 1,-3135,0,3135,0,3135,2,E(4) = 2[x]2,39312900,29484675,0,9828225
28984,x^4 - 15*x^3 + 2*x^2 + 15*x + 1,-3135,0,3135,0,3135,2,E(4) = 2[x]2,39312900,29484675,0,9828225
28986,x^4 - 14*x^3 + 2*x^2 + 14*x + 1,-2520,0,2520,0,2520,2,E(4) = 2[x]2,25401600,19051200,0,6350400
28987,x^4 - 13*x^3 + 2*x^2 + 13*x + 1,-1989,0,1989,0,1989,2,E(4) = 2[x]2,15824484,11868363,0,3956121
28990,x^4 - 12*x^3 + 2*x^2 + 12*x + 1,-1536,0,1536,0,1536,2,E(4) = 2[x]2,9437184,7077888,0,2359296
28992,x^4 - 11*x^3 + 2*x^2 + 11*x + 1,-1155,0,1155,0,1155,2,E(4) = 2[x]2,5336100,4002075,0,1334025
28993,x^4 - 10*x^3 + 2*x^2 + 10*x + 1,-840,0,840,0,840,2,E(4) = 2[x]2,2822400,2116800,0,705600
28994,x^4 - 9*x^3 + 2*x^2 + 9*x + 1,-585,0,585,0,585,2,E(4) = 2[x]2,1368900,1026675,0,342225
28997,x^4 - 8*x^3 + 2*x^2 + 8*x + 1,-384,0,384,0,384,2,E(4) = 2[x]2,589824,442368,0,147456
28998,x^4 - 7*x^3 + 2*x^2 + 7*x + 1,-231,0,231,0,231,2,E(4) = 2[x]2,213444,160083,0,53361
29003,x^4 - 6*x^3 + 2*x^2 + 6*x + 1,-120,0,120,0,120,2,E(4) = 2[x]2,57600,43200,0,14400
29050,x^4 + 2*x^3 + 2*x^2 - 2*x + 1,-24,0,24,0,24,2,E(4) = 2[x]2,2304,1728,0,576
29054,x^4 + 3*x^3 + 2*x^2 - 3*x + 1,-21,0,21,0,21,2,E(4) = 2[x]2,1764,1323,0,441
29047,x^4 + x^3 + 2*x^2 - x + 1,-15,0,15,0,15,2,E(4) = 2[x]2,900,675,0,225
29023,x^4 - x^3 + 2*x^2 + x + 1,15,0,-15,0,15,2,E(4) = 2[x]2,900,675,0,225
29015,x^4 - 3*x^3 + 2*x^2 + 3*x + 1,21,0,-21,0,21,2,E(4) = 2[x]2,1764,1323,0,441
29020,x^4 - 2*x^3 + 2*x^2 + 2*x + 1,24,0,-24,0,24,2,E(4) = 2[x]2,2304,1728,0,576
29069,x^4 + 6*x^3 + 2*x^2 - 6*x + 1,120,0,-120,0,120,2,E(4) = 2[x]2,57600,43200,0,14400
29072,x^4 + 7*x^3 + 2*x^2 - 7*x + 1,231,0,-231,0,231,2,E(4) = 2[x]2,213444,160083,0,53361
29075,x^4 + 8*x^3 + 2*x^2 - 8*x + 1,384,0,-384,0,384,2,E(4) = 2[x]2,589824,442368,0,147456
29076,x^4 + 9*x^3 + 2*x^2 - 9*x + 1,585,0,-585,0,585,2,E(4) = 2[x]2,1368900,1026675,0,342225
29077,x^4 + 10*x^3 + 2*x^2 - 10*x + 1,840,0,-840,0,840,2,E(4) = 2[x]2,2822400,2116800,0,705600
29078,x^4 + 11*x^3 + 2*x^2 - 11*x + 1,1155,0,-1155,0,1155,2,E(4) = 2[x]2,5336100,4002075,0,1334025
29081,x^4 + 12*x^3 + 2*x^2 - 12*x + 1,1536,0,-1536,0,1536,2,E(4) = 2[x]2,9437184,7077888,0,2359296
29083,x^4 + 13*x^3 + 2*x^2 - 13*x + 1,1989,0,-1989,0,1989,2,E(4) = 2[x]2,15824484,11868363,0,3956121
29085,x^4 + 14*x^3 + 2*x^2 - 14*x + 1,2520,0,-2520,0,2520,2,E(4) = 2[x]2,25401600,19051200,0,6350400
29087,x^4 + 15*x^3 + 2*x^2 - 15*x + 1,3135,0,-3135,0,3135,2,E(4) = 2[x]2,39312900,29484675,0,9828225

In [108]:
sep2.sort_values(["term_0","term_1","term_2", "term_3"])

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3
2071,x^4 + 15*x^3 - 2*x^2 + 15*x + 1,-3615,0,-3615,0,3615,2,D(4),-52272900,-39204675,0,13068225
2005,x^4 + 14*x^3 - 2*x^2 + 14*x + 1,-2968,0,-2968,0,2968,2,D(4),-35236096,-26427072,0,8809024
1941,x^4 + 13*x^3 - 2*x^2 + 13*x + 1,-2405,0,-2405,0,2405,2,D(4),-23136100,-17352075,0,5784025
1879,x^4 + 12*x^3 - 2*x^2 + 12*x + 1,-1920,0,-1920,0,1920,2,D(4),-14745600,-11059200,0,3686400
1818,x^4 + 11*x^3 - 2*x^2 + 11*x + 1,-1507,0,-1507,0,1507,2,D(4),-9084196,-6813147,0,2271049
1747,x^4 + 10*x^3 - 2*x^2 + 10*x + 1,-1160,0,-1160,0,1160,2,D(4),-5382400,-4036800,0,1345600
1686,x^4 + 9*x^3 - 2*x^2 + 9*x + 1,-873,0,-873,0,873,2,D(4),-3048516,-2286387,0,762129
1621,x^4 + 8*x^3 - 2*x^2 + 8*x + 1,-640,0,-640,0,640,2,D(4),-1638400,-1228800,0,409600
1036,x^4 - x^3 + 8*x + 1,-504,0,0,-63,63,2,D(4),-107163,0,-285768,0
1559,x^4 + 7*x^3 - 2*x^2 + 7*x + 1,-455,0,-455,0,455,2,D(4),-828100,-621075,0,207025
1488,x^4 + 6*x^3 - 2*x^2 + 6*x + 1,-312,0,-312,0,312,2,D(4),-389376,-292032,0,97344
1422,x^4 + 5*x^3 - 2*x^2 + 5*x + 1,-205,0,-205,0,205,2,D(4),-168100,-126075,0,42025
1346,x^4 + 4*x^3 - 2*x^2 + 4*x + 1,-128,0,-128,0,128,2,D(4),-65536,-49152,0,16384
1627,x^4 + 8*x^3 - x + 1,-63,0,0,63,63,2,D(4),-107163,0,35721,0
1209,x^4 + 2*x^3 - 2*x^2 + 2*x + 1,-40,0,-40,0,40,2,D(4),-6400,-4800,0,1600
1131,x^4 + x^3 - 2*x^2 + x + 1,-17,0,-17,0,17,2,D(4),-1156,-867,0,289
1030,x^4 - x^3 - 2*x^2 - x + 1,17,0,17,0,17,2,D(4),-1156,-867,0,289
945,x^4 - 2*x^3 - 2*x^2 - 2*x + 1,40,0,40,0,40,2,D(4),-6400,-4800,0,1600
548,x^4 - 8*x^3 + x + 1,63,0,0,63,63,2,D(4),-107163,0,-35721,0
803,x^4 - 4*x^3 - 2*x^2 - 4*x + 1,128,0,128,0,128,2,D(4),-65536,-49152,0,16384
736,x^4 - 5*x^3 - 2*x^2 - 5*x + 1,205,0,205,0,205,2,D(4),-168100,-126075,0,42025
663,x^4 - 6*x^3 - 2*x^2 - 6*x + 1,312,0,312,0,312,2,D(4),-389376,-292032,0,97344
606,x^4 - 7*x^3 - 2*x^2 - 7*x + 1,455,0,455,0,455,2,D(4),-828100,-621075,0,207025
1134,x^4 + x^3 - 8*x + 1,504,0,0,-63,63,2,D(4),-107163,0,285768,0
543,x^4 - 8*x^3 - 2*x^2 - 8*x + 1,640,0,640,0,640,2,D(4),-1638400,-1228800,0,409600
482,x^4 - 9*x^3 - 2*x^2 - 9*x + 1,873,0,873,0,873,2,D(4),-3048516,-2286387,0,762129
411,x^4 - 10*x^3 - 2*x^2 - 10*x + 1,1160,0,1160,0,1160,2,D(4),-5382400,-4036800,0,1345600
351,x^4 - 11*x^3 - 2*x^2 - 11*x + 1,1507,0,1507,0,1507,2,D(4),-9084196,-6813147,0,2271049
288,x^4 - 12*x^3 - 2*x^2 - 12*x + 1,1920,0,1920,0,1920,2,D(4),-14745600,-11059200,0,3686400
227,x^4 - 13*x^3 - 2*x^2 - 13*x + 1,2405,0,2405,0,2405,2,D(4),-23136100,-17352075,0,5784025
161,x^4 - 14*x^3 - 2*x^2 - 14*x + 1,2968,0,2968,0,2968,2,D(4),-35236096,-26427072,0,8809024
26,x^4 - 15*x^3 - 2*x^2 - 15*x + 1,3615,0,3615,0,3615,2,D(4),-52272900,-39204675,0,13068225
95,x^4 - 15*x^3 - 2*x^2 - 15*x + 1,3615,0,3615,0,3615,2,D(4),-52272900,-39204675,0,13068225

In [109]:
print(pd.unique(sep2["gcd"]))
print(pd.unique(sep1["gcd"]))

[3615 2968 2405 1920 1507 1160  873  640   63  455  312  205  128   40
   17]
[3135 2520 1989 1536 1155  840  585  384  231  120   21   24   15]

In [110]:
one_zeros=all_table[all_table["zero_terms"]==1]
sepE=one_zeros[one_zeros["galois_group"]=="E(4) = 2[x]2"]
sepD=one_zeros[one_zeros["galois_group"]=="D(4)"]
sepS=one_zeros[one_zeros["galois_group"]=="S4"]
sepC=one_zeros[one_zeros["galois_group"]=="C(4) = 4"]

In [111]:
sepE

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3
28981,x^4 - 15*x^3 - 14*x^2 + 15*x + 1,-4095,4368,4095,0,273,1,E(4) = 2[x]2,86155524,69386499,17886960,16769025
28983,x^4 - 15*x^3 - 14*x^2 + 15*x + 1,-4095,4368,4095,0,273,1,E(4) = 2[x]2,86155524,69386499,17886960,16769025
28985,x^4 - 14*x^3 - 3*x^2 + 4*x + 1,0,180,360,180,180,1,E(4) = 2[x]2,291600,32400,64800,32400
28988,x^4 - 12*x^3 - 8*x^2 + 12*x + 1,-2016,1680,2016,0,336,1,E(4) = 2[x]2,19079424,15015168,3386880,4064256
28989,x^4 - 12*x^3 - 5*x^2 + 12*x + 1,-1872,1092,1872,0,156,1,E(4) = 2[x]2,15210000,11705616,2044224,3504384
28991,x^4 - 12*x^3 + 12*x^2 + 12*x + 1,-1056,-880,1056,0,176,1,E(4) = 2[x]2,5234944,4119808,-929280,1115136
28995,x^4 - 8*x^3 - 10*x^2 + 8*x + 1,-768,1152,768,0,384,1,E(4) = 2[x]2,3686400,3096576,884736,589824
28996,x^4 - 8*x^3 - 7*x^2 + 2*x + 1,0,240,240,60,60,1,E(4) = 2[x]2,176400,57600,57600,14400
28999,x^4 - 6*x^3 - 15*x^2 - 6*x + 1,624,1352,624,0,104,1,E(4) = 2[x]2,270400,659776,843648,389376
29000,x^4 - 6*x^3 - 14*x^2 + 6*x + 1,-504,1344,504,0,168,1,E(4) = 2[x]2,2822400,2568384,677376,254016
29001,x^4 - 6*x^3 - 7*x^2 + 6*x + 1,-336,504,336,0,168,1,E(4) = 2[x]2,705600,592704,169344,112896
29002,x^4 - 6*x^3 - 3*x^2 + 6*x + 1,-240,200,240,0,40,1,E(4) = 2[x]2,270400,212800,48000,57600
29004,x^4 - 6*x^3 + 11*x^2 + 6*x + 1,96,144,-96,0,48,1,E(4) = 2[x]2,57600,48384,-13824,9216
29005,x^4 - 6*x^3 + 13*x^2 - 6*x + 1,-48,120,-48,0,24,1,E(4) = 2[x]2,5184,7488,-5760,2304
29006,x^4 - 4*x^3 - 13*x^2 + 4*x + 1,-240,900,240,0,60,1,E(4) = 2[x]2,1040400,982800,216000,57600
29007,x^4 - 4*x^3 - 12*x^2 - 4*x + 1,288,720,288,0,144,1,E(4) = 2[x]2,186624,269568,207360,82944
29008,x^4 - 4*x^3 - 4*x^2 + 4*x + 1,-96,144,96,0,48,1,E(4) = 2[x]2,57600,48384,13824,9216
29010,x^4 - 4*x^3 + 5*x^2 - 2*x + 1,0,48,-48,12,12,1,E(4) = 2[x]2,144,2304,-2304,576
29011,x^4 - 4*x^3 + 8*x^2 - 4*x + 1,-32,80,-32,0,16,1,E(4) = 2[x]2,2304,3328,-2560,1024
29012,x^4 - 4*x^3 + 8*x^2 + 4*x + 1,96,144,-96,0,48,1,E(4) = 2[x]2,57600,48384,-13824,9216
29013,x^4 - 4*x^3 + 15*x^2 - 4*x + 1,-144,612,-144,0,36,1,E(4) = 2[x]2,291600,312336,-88128,20736
29014,x^4 - 3*x^3 - 12*x^2 - 3*x + 1,195,650,195,0,65,1,E(4) = 2[x]2,270400,308425,126750,38025
29016,x^4 - 3*x^3 + 8*x^2 - 3*x + 1,-45,150,-45,0,15,1,E(4) = 2[x]2,14400,16425,-6750,2025
29017,x^4 - 3*x^3 + 10*x^2 + 3*x + 1,117,312,-117,0,39,1,E(4) = 2[x]2,152100,138411,-36504,13689
29018,x^4 - 2*x^3 - 7*x^2 - 2*x + 1,80,200,80,0,40,1,E(4) = 2[x]2,14400,20800,16000,6400
29021,x^4 - 2*x^3 + 5*x^2 - 4*x + 1,0,-12,24,-12,12,1,E(4) = 2[x]2,144,144,-288,144
29022,x^4 - 2*x^3 + 5*x^2 + 2*x + 1,48,72,-48,0,24,1,E(4) = 2[x]2,14400,12096,-3456,2304
29049,x^4 + 2*x^3 - 7*x^2 + 2*x + 1,-80,200,-80,0,40,1,E(4) = 2[x]2,14400,20800,-16000,6400
29051,x^4 + 2*x^3 + 5*x^2 - 2*x + 1,-48,72,48,0,24,1,E(4) = 2[x]2,14400,12096,3456,2304
29052,x^4 + 2*x^3 + 5*x^2 + 4*x + 1,0,-12,-24,-12,12,1,E(4) = 2[x]2,144,144,288,144
29053,x^4 + 3*x^3 - 12*x^2 + 3*x + 1,-195,650,-195,0,65,1,E(4) = 2[x]2,270400,308425,-126750,38025
29055,x^4 + 3*x^3 + 8*x^2 + 3*x + 1,45,150,45,0,15,1,E(4) = 2[x]2,14400,16425,6750,2025
29056,x^4 + 3*x^3 + 10*x^2 - 3*x + 1,-117,312,117,0,39,1,E(4) = 2[x]2,152100,138411,36504,13689
29057,x^4 + 4*x^3 - 13*x^2 - 4*x + 1,240,900,-240,0,60,1,E(4) = 2[x]2,1040400,982800,-216000,57600
29058,x^4 + 4*x^3 - 12*x^2 + 4*x + 1,-288,720,-288,0,144,1,E(4) = 2[x]2,186624,269568,-207360,82944
29059,x^4 + 4*x^3 - 4*x^2 - 4*x + 1,96,144,-96,0,48,1,E(4) = 2[x]2,57600,48384,-13824,9216
29061,x^4 + 4*x^3 + 5*x^2 + 2*x + 1,0,48,48,12,12,1,E(4) = 2[x]2,144,2304,2304,576
29062,x^4 + 4*x^3 + 8*x^2 - 4*x + 1,-96,144,96,0,48,1,E(4) = 2[x]2,57600,48384,13824,9216
29063,x^4 + 4*x^3 + 8*x^2 + 4*x + 1,32,80,32,0,16,1,E(4) = 2[x]2,2304,3328,2560,1024
29064,x^4 + 4*x^3 + 15*x^2 + 4*x + 1,144,612,144,0,36,1,E(4) = 2[x]2,291600,312336,88128,20736
29065,x^4 + 6*x^3 - 15*x^2 + 6*x + 1,-624,1352,-624,0,104,1,E(4) = 2[x]2,270400,659776,-843648,389376
29066,x^4 + 6*x^3 - 14*x^2 - 6*x + 1,504,1344,-504,0,168,1,E(4) = 2[x]2,2822400,2568384,-677376,254016
29067,x^4 + 6*x^3 - 7*x^2 - 6*x + 1,336,504,-336,0,168,1,E(4) = 2[x]2,705600,592704,-169344,112896
29068,x^4 + 6*x^3 - 3*x^2 - 6*x + 1,240,200,-240,0,40,1,E(4) = 2[x]2,270400,212800,-48000,57600
29070,x^4 + 6*x^3 + 11*x^2 - 6*x + 1,-96,144,96,0,48,1,E(4) = 2[x]2,57600,48384,13824,9216
29071,x^4 + 6*x^3 + 13*x^2 + 6*x + 1,48,120,48,0,24,1,E(4) = 2[x]2,5184,7488,5760,2304
29073,x^4 + 8*x^3 - 10*x^2 - 8*x + 1,768,1152,-768,0,384,1,E(4) = 2[x]2,3686400,3096576,-884736,589824
29074,x^4 + 8*x^3 - 7*x^2 - 2*x + 1,0,240,-240,60,60,1,E(4) = 2[x]2,176400,57600,-57600,14400
29079,x^4 + 12*x^3 - 8*x^2 - 12*x + 1,2016,1680,-2016,0,336,1,E(4) = 2[x]2,19079424,15015168,-3386880,4064256
29080,x^4 + 12*x^3 - 5*x^2 - 12*x + 1,1872,1092,-1872,0,156,1,E(4) = 2[x]2,15210000,11705616,-2044224,3504384
29082,x^4 + 12*x^3 + 12*x^2 - 12*x + 1,1056,-880,-1056,0,176,1,E(4) = 2[x]2,5234944,4119808,929280,1115136
29084,x^4 + 14*x^3 - 3*x^2 - 4*x + 1,0,180,-360,180,180,1,E(4) = 2[x]2,291600,32400,-64800,32400
29086,x^4 + 15*x^3 - 14*x^2 - 15*x + 1,4095,4368,-4095,0,273,1,E(4) = 2[x]2,86155524,69386499,-17886960,16769025

In [ ]:
sepC.sort_values(["term_0","term_1","term_2", "term_3"])

In [ ]:
sepS.sort_values(["term_0","term_1","term_2", "term_3"])

In [ ]:
sepE.sort_values(["term_0","term_1","term_2", "term_3"])

In [ ]:
sepD.sort_values(["term_0","term_1","term_2", "term_3"])

In [48]:
non_zeros=all_table[all_table["zero_terms"]==0]
sepE_non=non_zeros[non_zeros["galois_group"]=="E(4) = 2[x]2"]
sepD_non=non_zeros[non_zeros["galois_group"]=="D(4)"]
sepS_non=non_zeros[non_zeros["galois_group"]=="S4"]
sepC_non=non_zeros[non_zeros["galois_group"]=="C(4) = 4"]
sepA_non=non_zeros[non_zeros["galois_group"]=="A4"]

In [50]:
sepC_non.sort_values(["term_0","term_1","term_2", "term_3"])

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3
7536,x^4 - 6*x^3 - 4*x^2 + 9*x + 1,-825,480,510,-45,15,0,C(4) = 4,946125,1492650,-89325,324900
7546,x^4 - 2*x^3 - 6*x^2 + 7*x + 1,-495,450,90,-45,45,0,C(4) = 4,91125,336150,-159975,68850
7530,x^4 - 9*x^3 - 4*x^2 + 6*x + 1,-240,300,420,45,15,0,C(4) = 4,946125,392400,223200,135900
7566,x^4 + 4*x^3 + 6*x^2 - x + 1,-55,130,100,15,5,0,C(4) = 4,15125,33400,20425,4150
7557,x^4 + x^3 + 6*x^2 - 4*x + 1,-40,40,40,-15,5,0,C(4) = 4,15125,6400,-3800,3400
7564,x^4 + 4*x^3 - 4*x^2 - x + 1,-15,60,-60,15,15,0,C(4) = 4,1125,900,-1575,900
7540,x^4 - 4*x^3 - 4*x^2 + x + 1,15,60,60,15,15,0,C(4) = 4,1125,900,1575,900
7552,x^4 - x^3 + 6*x^2 + 4*x + 1,40,40,-40,-15,5,0,C(4) = 4,15125,6400,3800,3400
7542,x^4 - 4*x^3 + 6*x^2 + x + 1,55,130,-100,15,5,0,C(4) = 4,15125,33400,-20425,4150
7576,x^4 + 9*x^3 - 4*x^2 - 6*x + 1,240,300,-420,45,15,0,C(4) = 4,946125,392400,-223200,135900
7558,x^4 + 2*x^3 - 6*x^2 - 7*x + 1,495,450,-90,-45,45,0,C(4) = 4,91125,336150,159975,68850
7569,x^4 + 6*x^3 - 4*x^2 - 9*x + 1,825,480,-510,-45,15,0,C(4) = 4,946125,1492650,89325,324900

In [74]:
for g in range(0,4):
    unico=np.sort(pd.unique(sepD["term_"+str(g)]))
    print(0 in unico)

True
True
False
True

In [75]:
for g in range(0,4):
    unico=np.sort(pd.unique(sepE["term_"+str(g)]))
    print(0 in unico)

True
False
False
True

In [76]:
for g in range(0,4):
    unico=np.sort(pd.unique(sepC["term_"+str(g)]))
    print(0 in unico)

True
True
True
True

In [77]:
for g in range(0,4):
    unico=np.sort(pd.unique(sepS["term_"+str(g)]))
    print(0 in unico)

False
True
True
False

In [79]:
sum(sepD["discriminant"]<=0)

270

In [80]:
sum(sepC["discriminant"]<=0)

0

In [81]:
sum(sepS["discriminant"]<=0)

76

In [82]:
sum(sepE["discriminant"]<=0)

0