In [124]:
import pandas as pd

In [125]:
all_table=pd.read_csv("output_all_deg4.csv")

In [126]:
for ht in range(0,4):
    table_zeros=all_table[all_table["zero_terms"]==ht]
    print(table_zeros["galois_group"].value_counts())

galois_group
S4              7414
D(4)             186
A4                20
C(4) = 4          12
E(4) = 2[x]2       2
Name: count, dtype: int64
galois_group
D(4)            676
S4               94
C(4) = 4         38
E(4) = 2[x]2     26
Name: count, dtype: int64
galois_group
D(4)            22
E(4) = 2[x]2    16
Name: count, dtype: int64
galois_group
E(4) = 2[x]2    15
Name: count, dtype: int64

In [138]:
all_table["term_1"]**2-3*all_table["term_0"]*all_table["term_2"]

0         5952
1         7824
2        60799
3       990016
4        28861
         ...
8516    104976
8517      7056
8518   -927936
8519    984256
8520   -721344
Length: 8521, dtype: int64

In [139]:
all_table["term_1"]*all_table["term_2"]-9*all_table["term_0"]*all_table["term_3"]

0        11904
1         3912
2       -27221
3      -551552
4       -13965
         ...
8516    -23328
8517     14112
8518    570240
8519    216320
8520    554880
Length: 8521, dtype: int64

In [140]:
all_table["term_2"]**2-3*all_table["term_1"]*all_table["term_3"]

0         7936
1         4564
2        10921
3       103168
4         2793
         ...
8516     58320
8517      7056
8518    518400
8519    270400
8520    462400
Length: 8521, dtype: int64

In [127]:
two_zeros=all_table[all_table["zero_terms"]==2]
sep1=two_zeros[two_zeros["galois_group"]=="E(4) = 2[x]2"]
sep2=two_zeros[two_zeros["galois_group"]=="D(4)"]

In [128]:
sep1

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant
7578,x^4 - 10*x^3 + 2*x^2 + 10*x + 1,-840,0,840,0,840,2,E(4) = 2[x]2,2822400
7579,x^4 - 9*x^3 + 2*x^2 + 9*x + 1,-585,0,585,0,585,2,E(4) = 2[x]2,1368900
7582,x^4 - 8*x^3 + 2*x^2 + 8*x + 1,-384,0,384,0,384,2,E(4) = 2[x]2,589824
7583,x^4 - 7*x^3 + 2*x^2 + 7*x + 1,-231,0,231,0,231,2,E(4) = 2[x]2,213444
7586,x^4 - 6*x^3 + 2*x^2 + 6*x + 1,-120,0,120,0,120,2,E(4) = 2[x]2,57600
7591,x^4 - 3*x^3 + 2*x^2 + 3*x + 1,21,0,-21,0,21,2,E(4) = 2[x]2,1764
7596,x^4 - 2*x^3 + 2*x^2 + 2*x + 1,24,0,-24,0,24,2,E(4) = 2[x]2,2304
7599,x^4 - x^3 + 2*x^2 + x + 1,15,0,-15,0,15,2,E(4) = 2[x]2,900
7615,x^4 + x^3 + 2*x^2 - x + 1,-15,0,15,0,15,2,E(4) = 2[x]2,900
7618,x^4 + 2*x^3 + 2*x^2 - 2*x + 1,-24,0,24,0,24,2,E(4) = 2[x]2,2304
7621,x^4 + 3*x^3 + 2*x^2 - 3*x + 1,-21,0,21,0,21,2,E(4) = 2[x]2,1764
7630,x^4 + 6*x^3 + 2*x^2 - 6*x + 1,120,0,-120,0,120,2,E(4) = 2[x]2,57600
7631,x^4 + 7*x^3 + 2*x^2 - 7*x + 1,231,0,-231,0,231,2,E(4) = 2[x]2,213444
7634,x^4 + 8*x^3 + 2*x^2 - 8*x + 1,384,0,-384,0,384,2,E(4) = 2[x]2,589824
7635,x^4 + 9*x^3 + 2*x^2 - 9*x + 1,585,0,-585,0,585,2,E(4) = 2[x]2,1368900
7636,x^4 + 10*x^3 + 2*x^2 - 10*x + 1,840,0,-840,0,840,2,E(4) = 2[x]2,2822400

In [129]:
sep2

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant
7653,x^4 - 10*x^3 - 2*x^2 - 10*x + 1,1160,0,1160,0,1160,2,D(4),-5382400
7700,x^4 - 9*x^3 - 2*x^2 - 9*x + 1,873,0,873,0,873,2,D(4),-3048516
7739,x^4 - 8*x^3 - 2*x^2 - 8*x + 1,640,0,640,0,640,2,D(4),-1638400
7744,x^4 - 8*x^3 + x + 1,63,0,0,63,63,2,D(4),-107163
7781,x^4 - 7*x^3 - 2*x^2 - 7*x + 1,455,0,455,0,455,2,D(4),-828100
7817,x^4 - 6*x^3 - 2*x^2 - 6*x + 1,312,0,312,0,312,2,D(4),-389376
7861,x^4 - 5*x^3 - 2*x^2 - 5*x + 1,205,0,205,0,205,2,D(4),-168100
7903,x^4 - 4*x^3 - 2*x^2 - 4*x + 1,128,0,128,0,128,2,D(4),-65536
7989,x^4 - 2*x^3 - 2*x^2 - 2*x + 1,40,0,40,0,40,2,D(4),-6400
8039,x^4 - x^3 - 2*x^2 - x + 1,17,0,17,0,17,2,D(4),-1156
8044,x^4 - x^3 + 8*x + 1,-504,0,0,-63,63,2,D(4),-107163
8104,x^4 + x^3 - 2*x^2 + x + 1,-17,0,-17,0,17,2,D(4),-1156
8107,x^4 + x^3 - 8*x + 1,504,0,0,-63,63,2,D(4),-107163
8151,x^4 + 2*x^3 - 2*x^2 + 2*x + 1,-40,0,-40,0,40,2,D(4),-6400
8237,x^4 + 4*x^3 - 2*x^2 + 4*x + 1,-128,0,-128,0,128,2,D(4),-65536
8286,x^4 + 5*x^3 - 2*x^2 + 5*x + 1,-205,0,-205,0,205,2,D(4),-168100
8327,x^4 + 6*x^3 - 2*x^2 + 6*x + 1,-312,0,-312,0,312,2,D(4),-389376
8369,x^4 + 7*x^3 - 2*x^2 + 7*x + 1,-455,0,-455,0,455,2,D(4),-828100
8406,x^4 + 8*x^3 - 2*x^2 + 8*x + 1,-640,0,-640,0,640,2,D(4),-1638400
8412,x^4 + 8*x^3 - x + 1,-63,0,0,63,63,2,D(4),-107163
8451,x^4 + 9*x^3 - 2*x^2 + 9*x + 1,-873,0,-873,0,873,2,D(4),-3048516
8491,x^4 + 10*x^3 - 2*x^2 + 10*x + 1,-1160,0,-1160,0,1160,2,D(4),-5382400

In [130]:
print(pd.unique(sep2["gcd"]))
print(pd.unique(sep1["gcd"]))

[1160  873  640   63  455  312  205  128   40   17]
[840 585 384 231 120  21  24  15]

In [131]:
one_zeros=all_table[all_table["zero_terms"]==1]
sepE=one_zeros[one_zeros["galois_group"]=="E(4) = 2[x]2"]
sepD=one_zeros[one_zeros["galois_group"]=="D(4)"]
sepS=one_zeros[one_zeros["galois_group"]=="S4"]
sepC=one_zeros[one_zeros["galois_group"]=="C(4) = 4"]

In [136]:
sepE

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant
7580,x^4 - 8*x^3 - 10*x^2 + 8*x + 1,-768,1152,768,0,384,1,E(4) = 2[x]2,3686400
7581,x^4 - 8*x^3 - 7*x^2 + 2*x + 1,0,240,240,60,60,1,E(4) = 2[x]2,176400
7584,x^4 - 6*x^3 - 7*x^2 + 6*x + 1,-336,504,336,0,168,1,E(4) = 2[x]2,705600
7585,x^4 - 6*x^3 - 3*x^2 + 6*x + 1,-240,200,240,0,40,1,E(4) = 2[x]2,270400
7587,x^4 - 4*x^3 - 4*x^2 + 4*x + 1,-96,144,96,0,48,1,E(4) = 2[x]2,57600
7588,x^4 - 4*x^3 + 5*x^2 - 2*x + 1,0,48,-48,12,12,1,E(4) = 2[x]2,144
7589,x^4 - 4*x^3 + 8*x^2 - 4*x + 1,-32,80,-32,0,16,1,E(4) = 2[x]2,2304
7590,x^4 - 4*x^3 + 8*x^2 + 4*x + 1,96,144,-96,0,48,1,E(4) = 2[x]2,57600
7592,x^4 - 3*x^3 + 8*x^2 - 3*x + 1,-45,150,-45,0,15,1,E(4) = 2[x]2,14400
7593,x^4 - 3*x^3 + 10*x^2 + 3*x + 1,117,312,-117,0,39,1,E(4) = 2[x]2,152100
7594,x^4 - 2*x^3 - 7*x^2 - 2*x + 1,80,200,80,0,40,1,E(4) = 2[x]2,14400
7597,x^4 - 2*x^3 + 5*x^2 - 4*x + 1,0,-12,24,-12,12,1,E(4) = 2[x]2,144
7598,x^4 - 2*x^3 + 5*x^2 + 2*x + 1,48,72,-48,0,24,1,E(4) = 2[x]2,14400
7617,x^4 + 2*x^3 - 7*x^2 + 2*x + 1,-80,200,-80,0,40,1,E(4) = 2[x]2,14400
7619,x^4 + 2*x^3 + 5*x^2 - 2*x + 1,-48,72,48,0,24,1,E(4) = 2[x]2,14400
7620,x^4 + 2*x^3 + 5*x^2 + 4*x + 1,0,-12,-24,-12,12,1,E(4) = 2[x]2,144
7622,x^4 + 3*x^3 + 8*x^2 + 3*x + 1,45,150,45,0,15,1,E(4) = 2[x]2,14400
7623,x^4 + 3*x^3 + 10*x^2 - 3*x + 1,-117,312,117,0,39,1,E(4) = 2[x]2,152100
7624,x^4 + 4*x^3 - 4*x^2 - 4*x + 1,96,144,-96,0,48,1,E(4) = 2[x]2,57600
7625,x^4 + 4*x^3 + 5*x^2 + 2*x + 1,0,48,48,12,12,1,E(4) = 2[x]2,144
7626,x^4 + 4*x^3 + 8*x^2 - 4*x + 1,-96,144,96,0,48,1,E(4) = 2[x]2,57600
7627,x^4 + 4*x^3 + 8*x^2 + 4*x + 1,32,80,32,0,16,1,E(4) = 2[x]2,2304
7628,x^4 + 6*x^3 - 7*x^2 - 6*x + 1,336,504,-336,0,168,1,E(4) = 2[x]2,705600
7629,x^4 + 6*x^3 - 3*x^2 - 6*x + 1,240,200,-240,0,40,1,E(4) = 2[x]2,270400
7632,x^4 + 8*x^3 - 10*x^2 - 8*x + 1,768,1152,-768,0,384,1,E(4) = 2[x]2,3686400
7633,x^4 + 8*x^3 - 7*x^2 - 2*x + 1,0,240,-240,60,60,1,E(4) = 2[x]2,176400

In [132]:
sepD

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant
7637,x^4 - 10*x^3 - 10*x^2 - 10*x + 1,1480,1184,1480,0,296,1,D(4),-7359744
7638,x^4 - 10*x^3 - 10*x^2 + 10*x + 1,-1320,1584,1320,0,264,1,D(4),9478656
7639,x^4 - 10*x^3 - 9*x^2 + 2*x + 1,0,384,384,96,96,1,D(4),525312
7640,x^4 - 10*x^3 - 9*x^2 + 10*x + 1,-1280,1408,1280,0,128,1,D(4),8536064
7641,x^4 - 10*x^3 - 8*x^2 - 10*x + 1,1400,840,1400,0,280,1,D(4),-7134400
...,...,...,...,...,...,...,...,...,...
8515,x^4 + 10*x^3 + 9*x^2 - 10*x + 1,560,-392,-560,0,56,1,D(4),1408064
8517,x^4 + 10*x^3 + 9*x^2 + 4*x + 1,0,84,168,84,84,1,D(4),-21168
8518,x^4 + 10*x^3 + 9*x^2 + 10*x + 1,-720,-792,-720,0,72,1,D(4),-1446336
8519,x^4 + 10*x^3 + 10*x^2 - 10*x + 1,520,-416,-520,0,104,1,D(4),1254656
8520,x^4 + 10*x^3 + 10*x^2 + 10*x + 1,-680,-816,-680,0,136,1,D(4),-1183744

In [133]:
sepC

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant
7528,x^4 - 10*x^3 - 6*x^2 + 10*x + 1,-1160,928,1160,0,232,1,C(4) = 4,6243584
7529,x^4 - 9*x^3 - 6*x^2 + 9*x + 1,-873,776,873,0,97,1,C(4) = 4,3650692
7531,x^4 - 8*x^3 - 6*x^2 + 8*x + 1,-640,640,640,0,640,1,C(4) = 4,2048000
7532,x^4 - 7*x^3 - 6*x^2 + 2*x + 1,0,180,180,45,45,1,C(4) = 4,91125
7533,x^4 - 7*x^3 - 6*x^2 + 7*x + 1,-455,520,455,0,65,1,C(4) = 4,1098500
7534,x^4 - 7*x^3 + 9*x^2 + 7*x + 1,-35,-35,35,0,35,1,C(4) = 4,6125
7535,x^4 - 6*x^3 - 6*x^2 + 6*x + 1,-312,416,312,0,104,1,C(4) = 4,562432
7537,x^4 - 6*x^3 + x^2 + 4*x + 1,0,20,40,20,20,1,C(4) = 4,2000
7538,x^4 - 5*x^3 - 6*x^2 + 5*x + 1,-205,328,205,0,41,1,C(4) = 4,275684
7539,x^4 - 4*x^3 - 6*x^2 + 4*x + 1,-128,256,128,0,128,1,C(4) = 4,131072
7541,x^4 - 4*x^3 + x^2 + 6*x + 1,-160,0,80,-20,20,1,C(4) = 4,2000
7543,x^4 - 3*x^3 - x^2 + 3*x + 1,-15,15,15,0,15,1,C(4) = 4,1125
7544,x^4 - 3*x^3 + 4*x^2 - 2*x + 1,0,20,-20,5,5,1,C(4) = 4,125
7545,x^4 - 2*x^3 - 6*x^2 + 2*x + 1,-40,160,40,0,40,1,C(4) = 4,32000
7547,x^4 - 2*x^3 + 4*x^2 - 3*x + 1,-5,0,10,-5,5,1,C(4) = 4,125
7548,x^4 - x^3 - 9*x^2 - x + 1,45,315,45,0,45,1,C(4) = 4,91125
7549,x^4 - x^3 - 6*x^2 + x + 1,-17,136,17,0,17,1,C(4) = 4,19652
7550,x^4 - x^3 - 4*x^2 + 4*x + 1,-120,120,0,-15,15,1,C(4) = 4,1125
7551,x^4 - x^3 + x^2 - x + 1,5,-15,5,0,5,1,C(4) = 4,125
7553,x^4 + x^3 - 9*x^2 + x + 1,-45,315,-45,0,45,1,C(4) = 4,91125
7554,x^4 + x^3 - 6*x^2 - x + 1,17,136,-17,0,17,1,C(4) = 4,19652
7555,x^4 + x^3 - 4*x^2 - 4*x + 1,120,120,0,-15,15,1,C(4) = 4,1125
7556,x^4 + x^3 + x^2 + x + 1,-5,-15,-5,0,5,1,C(4) = 4,125
7559,x^4 + 2*x^3 - 6*x^2 - 2*x + 1,40,160,-40,0,40,1,C(4) = 4,32000
7560,x^4 + 2*x^3 + 4*x^2 + 3*x + 1,5,0,-10,-5,5,1,C(4) = 4,125
7561,x^4 + 3*x^3 - x^2 - 3*x + 1,15,15,-15,0,15,1,C(4) = 4,1125
7562,x^4 + 3*x^3 + 4*x^2 + 2*x + 1,0,20,20,5,5,1,C(4) = 4,125
7563,x^4 + 4*x^3 - 6*x^2 - 4*x + 1,128,256,-128,0,128,1,C(4) = 4,131072
7565,x^4 + 4*x^3 + x^2 - 6*x + 1,160,0,-80,-20,20,1,C(4) = 4,2000
7567,x^4 + 5*x^3 - 6*x^2 - 5*x + 1,205,328,-205,0,41,1,C(4) = 4,275684
7568,x^4 + 6*x^3 - 6*x^2 - 6*x + 1,312,416,-312,0,104,1,C(4) = 4,562432
7570,x^4 + 6*x^3 + x^2 - 4*x + 1,0,20,-40,20,20,1,C(4) = 4,2000
7571,x^4 + 7*x^3 - 6*x^2 - 7*x + 1,455,520,-455,0,65,1,C(4) = 4,1098500
7572,x^4 + 7*x^3 - 6*x^2 - 2*x + 1,0,180,-180,45,45,1,C(4) = 4,91125
7573,x^4 + 7*x^3 + 9*x^2 - 7*x + 1,35,-35,-35,0,35,1,C(4) = 4,6125
7574,x^4 + 8*x^3 - 6*x^2 - 8*x + 1,640,640,-640,0,640,1,C(4) = 4,2048000
7575,x^4 + 9*x^3 - 6*x^2 - 9*x + 1,873,776,-873,0,97,1,C(4) = 4,3650692
7577,x^4 + 10*x^3 - 6*x^2 - 10*x + 1,1160,928,-1160,0,232,1,C(4) = 4,6243584

In [134]:
sepS

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant
171,x^4 - 10*x^3 - 2*x^2 + 1,80,0,80,100,20,1,S4,-295600
205,x^4 - 10*x^3 + 1,80,-16,0,100,4,1,S4,-269744
239,x^4 - 10*x^3 + 2*x^2 + 1,80,0,-80,100,20,1,S4,-244400
536,x^4 - 9*x^3 - 2*x^2 + 1,72,0,72,81,9,1,S4,-197883
572,x^4 - 9*x^3 + 1,72,-16,0,81,1,1,S4,-176891
...,...,...,...,...,...,...,...,...,...
6973,x^4 + 9*x^3 + 1,-72,-16,0,81,1,1,S4,-176891
7009,x^4 + 9*x^3 + 2*x^2 + 1,-72,0,72,81,9,1,S4,-156411
7311,x^4 + 10*x^3 - 2*x^2 + 1,-80,0,-80,100,20,1,S4,-295600
7345,x^4 + 10*x^3 + 1,-80,-16,0,100,4,1,S4,-269744
7379,x^4 + 10*x^3 + 2*x^2 + 1,-80,0,80,100,20,1,S4,-244400

In [121]:
non_zeros=all_table[all_table["zero_terms"]==0]
sepE=non_zeros[non_zeros["galois_group"]=="E(4) = 2[x]2"]
sepD=non_zeros[non_zeros["galois_group"]=="D(4)"]
sepS=non_zeros[non_zeros["galois_group"]=="S4"]
sepC=non_zeros[non_zeros["galois_group"]=="C(4) = 4"]

In [123]:
sepE["term_0"]+sepE["term_1"]+sepE["term_2"]+sepE["term_3"]

7595       0
7616    1200
dtype: int64