In [14]:
import pandas as pd
import numpy as np

In [15]:
all_table=pd.read_csv("output_all_galois_deg4_range25.csv")

In [16]:
for ht in range(0,4):
    table_zeros=all_table[all_table["zero_terms"]==ht]
    print(table_zeros["galois_group"].value_counts())

galois_group
S4      121876
D(4)      1184
A4         112
C(4)        66
E(4)        16
Name: count, dtype: int64
galois_group
D(4)    4600
S4       264
E(4)     112
C(4)      94
Name: count, dtype: int64
galois_group
D(4)    52
E(4)    46
Name: count, dtype: int64
galois_group
E(4)    41
Name: count, dtype: int64

In [17]:
first_zero=all_table[all_table["term_0"]==0]

In [18]:
first_zero["galois_group"].value_counts()

galois_group
D(4)    180
E(4)     53
C(4)     12
Name: count, dtype: int64

In [19]:
nonfirst_zero=all_table[~(all_table["term_0"]==0)]

In [20]:
nonfirst_zero["galois_group"].value_counts()

galois_group
S4      122140
D(4)      5656
E(4)       162
C(4)       148
A4         112
Name: count, dtype: int64

In [21]:
cyclic_non_zero=nonfirst_zero[nonfirst_zero["galois_group"]=="C(4)"].copy().sort_values(["term_0","term_1","term_2", "term_3"])
klein_non_zero=nonfirst_zero[nonfirst_zero["galois_group"]=="E(4)"].copy().sort_values(["term_0","term_1","term_2", "term_3"])
dihedral_non_zero=nonfirst_zero[nonfirst_zero["galois_group"]=="D(4)"].copy().sort_values(["term_0","term_1","term_2", "term_3"])

In [22]:
cyclic_non_zero.to_csv("cyclic_non_zero.csv",index=False)
klein_non_zero.to_csv("klein_non_zero.csv",index=False)
dihedral_non_zero.to_csv("dihedral_non_zero.csv",index=False)

In [23]:
knon=klein_non_zero[klein_non_zero["zero_terms"]==0]
dnon=dihedral_non_zero[dihedral_non_zero["zero_terms"]==0]
cnon=cyclic_non_zero[cyclic_non_zero["zero_terms"]==0]

In [24]:
knon.to_csv("klein_non_zero_terms.csv",index=False)
dnon.to_csv("dihedral_non_zero_terms.csv",index=False)
cnon.to_csv("cyclic_non_zero_terms.csv",index=False)

In [119]:
all_table["quad_1"]=all_table["term_1"]**2-3*all_table["term_0"]*all_table["term_2"]
all_table["quad_2"]=all_table["term_1"]*all_table["term_2"]-9*all_table["term_0"]*all_table["term_3"]
all_table["quad_3"]=all_table["term_2"]**2-3*all_table["term_1"]*all_table["term_3"]

In [125]:
three_zeros=all_table[all_table["zero_terms"]==3]

In [126]:
three_zeros

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3
29024,x^4 - 15*x^2 + 1,0,884,0,0,884,3,E(4) = 2[x]2,781456,781456,0,0
29025,x^4 - 13*x^2 + 1,0,660,0,0,660,3,E(4) = 2[x]2,435600,435600,0,0
29026,x^4 - 12*x^2 + 1,0,560,0,0,560,3,E(4) = 2[x]2,313600,313600,0,0
29027,x^4 - 10*x^2 + 1,0,384,0,0,384,3,E(4) = 2[x]2,147456,147456,0,0
29028,x^4 - 9*x^2 + 1,0,308,0,0,308,3,E(4) = 2[x]2,94864,94864,0,0
29029,x^4 - 8*x^2 + 1,0,240,0,0,240,3,E(4) = 2[x]2,57600,57600,0,0
29030,x^4 - 5*x^2 + 1,0,84,0,0,84,3,E(4) = 2[x]2,7056,7056,0,0
29031,x^4 - 4*x^2 + 1,0,48,0,0,48,3,E(4) = 2[x]2,2304,2304,0,0
29032,x^4 - x^2 + 1,0,-12,0,0,12,3,E(4) = 2[x]2,144,144,0,0
29033,x^4 + 1,0,-16,0,0,16,3,E(4) = 2[x]2,256,256,0,0
29034,x^4 + 3*x^2 + 1,0,20,0,0,20,3,E(4) = 2[x]2,400,400,0,0
29035,x^4 + 4*x^2 + 1,0,48,0,0,48,3,E(4) = 2[x]2,2304,2304,0,0
29036,x^4 + 5*x^2 + 1,0,84,0,0,84,3,E(4) = 2[x]2,7056,7056,0,0
29037,x^4 + 6*x^2 + 1,0,128,0,0,128,3,E(4) = 2[x]2,16384,16384,0,0
29038,x^4 + 7*x^2 + 1,0,180,0,0,180,3,E(4) = 2[x]2,32400,32400,0,0
29039,x^4 + 8*x^2 + 1,0,240,0,0,240,3,E(4) = 2[x]2,57600,57600,0,0
29040,x^4 + 9*x^2 + 1,0,308,0,0,308,3,E(4) = 2[x]2,94864,94864,0,0
29041,x^4 + 10*x^2 + 1,0,384,0,0,384,3,E(4) = 2[x]2,147456,147456,0,0
29042,x^4 + 11*x^2 + 1,0,468,0,0,468,3,E(4) = 2[x]2,219024,219024,0,0
29043,x^4 + 12*x^2 + 1,0,560,0,0,560,3,E(4) = 2[x]2,313600,313600,0,0
29044,x^4 + 13*x^2 + 1,0,660,0,0,660,3,E(4) = 2[x]2,435600,435600,0,0
29045,x^4 + 14*x^2 + 1,0,768,0,0,768,3,E(4) = 2[x]2,589824,589824,0,0
29046,x^4 + 15*x^2 + 1,0,884,0,0,884,3,E(4) = 2[x]2,781456,781456,0,0

In [150]:
two_zeros=all_table[all_table["zero_terms"]==2].copy()
sep1=two_zeros[two_zeros["galois_group"]=="E(4) = 2[x]2"].copy()
sep2=two_zeros[two_zeros["galois_group"]=="D(4)"].copy()

In [151]:
sep1["suma"]=sep1["quad_1"]+sep1["quad_2"]+sep1["quad_3"]

In [152]:
sep1.sort_values(["term_0","term_1","term_2", "term_3"])

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3,suma
28982,x^4 - 15*x^3 + 2*x^2 + 15*x + 1,-3135,0,3135,0,3135,2,E(4) = 2[x]2,39312900,29484675,0,9828225,39312900
28984,x^4 - 15*x^3 + 2*x^2 + 15*x + 1,-3135,0,3135,0,3135,2,E(4) = 2[x]2,39312900,29484675,0,9828225,39312900
28986,x^4 - 14*x^3 + 2*x^2 + 14*x + 1,-2520,0,2520,0,2520,2,E(4) = 2[x]2,25401600,19051200,0,6350400,25401600
28987,x^4 - 13*x^3 + 2*x^2 + 13*x + 1,-1989,0,1989,0,1989,2,E(4) = 2[x]2,15824484,11868363,0,3956121,15824484
28990,x^4 - 12*x^3 + 2*x^2 + 12*x + 1,-1536,0,1536,0,1536,2,E(4) = 2[x]2,9437184,7077888,0,2359296,9437184
28992,x^4 - 11*x^3 + 2*x^2 + 11*x + 1,-1155,0,1155,0,1155,2,E(4) = 2[x]2,5336100,4002075,0,1334025,5336100
28993,x^4 - 10*x^3 + 2*x^2 + 10*x + 1,-840,0,840,0,840,2,E(4) = 2[x]2,2822400,2116800,0,705600,2822400
28994,x^4 - 9*x^3 + 2*x^2 + 9*x + 1,-585,0,585,0,585,2,E(4) = 2[x]2,1368900,1026675,0,342225,1368900
28997,x^4 - 8*x^3 + 2*x^2 + 8*x + 1,-384,0,384,0,384,2,E(4) = 2[x]2,589824,442368,0,147456,589824
28998,x^4 - 7*x^3 + 2*x^2 + 7*x + 1,-231,0,231,0,231,2,E(4) = 2[x]2,213444,160083,0,53361,213444
29003,x^4 - 6*x^3 + 2*x^2 + 6*x + 1,-120,0,120,0,120,2,E(4) = 2[x]2,57600,43200,0,14400,57600
29050,x^4 + 2*x^3 + 2*x^2 - 2*x + 1,-24,0,24,0,24,2,E(4) = 2[x]2,2304,1728,0,576,2304
29054,x^4 + 3*x^3 + 2*x^2 - 3*x + 1,-21,0,21,0,21,2,E(4) = 2[x]2,1764,1323,0,441,1764
29047,x^4 + x^3 + 2*x^2 - x + 1,-15,0,15,0,15,2,E(4) = 2[x]2,900,675,0,225,900
29023,x^4 - x^3 + 2*x^2 + x + 1,15,0,-15,0,15,2,E(4) = 2[x]2,900,675,0,225,900
29015,x^4 - 3*x^3 + 2*x^2 + 3*x + 1,21,0,-21,0,21,2,E(4) = 2[x]2,1764,1323,0,441,1764
29020,x^4 - 2*x^3 + 2*x^2 + 2*x + 1,24,0,-24,0,24,2,E(4) = 2[x]2,2304,1728,0,576,2304
29069,x^4 + 6*x^3 + 2*x^2 - 6*x + 1,120,0,-120,0,120,2,E(4) = 2[x]2,57600,43200,0,14400,57600
29072,x^4 + 7*x^3 + 2*x^2 - 7*x + 1,231,0,-231,0,231,2,E(4) = 2[x]2,213444,160083,0,53361,213444
29075,x^4 + 8*x^3 + 2*x^2 - 8*x + 1,384,0,-384,0,384,2,E(4) = 2[x]2,589824,442368,0,147456,589824
29076,x^4 + 9*x^3 + 2*x^2 - 9*x + 1,585,0,-585,0,585,2,E(4) = 2[x]2,1368900,1026675,0,342225,1368900
29077,x^4 + 10*x^3 + 2*x^2 - 10*x + 1,840,0,-840,0,840,2,E(4) = 2[x]2,2822400,2116800,0,705600,2822400
29078,x^4 + 11*x^3 + 2*x^2 - 11*x + 1,1155,0,-1155,0,1155,2,E(4) = 2[x]2,5336100,4002075,0,1334025,5336100
29081,x^4 + 12*x^3 + 2*x^2 - 12*x + 1,1536,0,-1536,0,1536,2,E(4) = 2[x]2,9437184,7077888,0,2359296,9437184
29083,x^4 + 13*x^3 + 2*x^2 - 13*x + 1,1989,0,-1989,0,1989,2,E(4) = 2[x]2,15824484,11868363,0,3956121,15824484
29085,x^4 + 14*x^3 + 2*x^2 - 14*x + 1,2520,0,-2520,0,2520,2,E(4) = 2[x]2,25401600,19051200,0,6350400,25401600
29087,x^4 + 15*x^3 + 2*x^2 - 15*x + 1,3135,0,-3135,0,3135,2,E(4) = 2[x]2,39312900,29484675,0,9828225,39312900

In [129]:
sep2.sort_values(["term_0","term_1","term_2", "term_3"])

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3
2071,x^4 + 15*x^3 - 2*x^2 + 15*x + 1,-3615,0,-3615,0,3615,2,D(4),-52272900,-39204675,0,13068225
2005,x^4 + 14*x^3 - 2*x^2 + 14*x + 1,-2968,0,-2968,0,2968,2,D(4),-35236096,-26427072,0,8809024
1941,x^4 + 13*x^3 - 2*x^2 + 13*x + 1,-2405,0,-2405,0,2405,2,D(4),-23136100,-17352075,0,5784025
1879,x^4 + 12*x^3 - 2*x^2 + 12*x + 1,-1920,0,-1920,0,1920,2,D(4),-14745600,-11059200,0,3686400
1818,x^4 + 11*x^3 - 2*x^2 + 11*x + 1,-1507,0,-1507,0,1507,2,D(4),-9084196,-6813147,0,2271049
1747,x^4 + 10*x^3 - 2*x^2 + 10*x + 1,-1160,0,-1160,0,1160,2,D(4),-5382400,-4036800,0,1345600
1686,x^4 + 9*x^3 - 2*x^2 + 9*x + 1,-873,0,-873,0,873,2,D(4),-3048516,-2286387,0,762129
1621,x^4 + 8*x^3 - 2*x^2 + 8*x + 1,-640,0,-640,0,640,2,D(4),-1638400,-1228800,0,409600
1036,x^4 - x^3 + 8*x + 1,-504,0,0,-63,63,2,D(4),-107163,0,-285768,0
1559,x^4 + 7*x^3 - 2*x^2 + 7*x + 1,-455,0,-455,0,455,2,D(4),-828100,-621075,0,207025
1488,x^4 + 6*x^3 - 2*x^2 + 6*x + 1,-312,0,-312,0,312,2,D(4),-389376,-292032,0,97344
1422,x^4 + 5*x^3 - 2*x^2 + 5*x + 1,-205,0,-205,0,205,2,D(4),-168100,-126075,0,42025
1346,x^4 + 4*x^3 - 2*x^2 + 4*x + 1,-128,0,-128,0,128,2,D(4),-65536,-49152,0,16384
1627,x^4 + 8*x^3 - x + 1,-63,0,0,63,63,2,D(4),-107163,0,35721,0
1209,x^4 + 2*x^3 - 2*x^2 + 2*x + 1,-40,0,-40,0,40,2,D(4),-6400,-4800,0,1600
1131,x^4 + x^3 - 2*x^2 + x + 1,-17,0,-17,0,17,2,D(4),-1156,-867,0,289
1030,x^4 - x^3 - 2*x^2 - x + 1,17,0,17,0,17,2,D(4),-1156,-867,0,289
945,x^4 - 2*x^3 - 2*x^2 - 2*x + 1,40,0,40,0,40,2,D(4),-6400,-4800,0,1600
548,x^4 - 8*x^3 + x + 1,63,0,0,63,63,2,D(4),-107163,0,-35721,0
803,x^4 - 4*x^3 - 2*x^2 - 4*x + 1,128,0,128,0,128,2,D(4),-65536,-49152,0,16384
736,x^4 - 5*x^3 - 2*x^2 - 5*x + 1,205,0,205,0,205,2,D(4),-168100,-126075,0,42025
663,x^4 - 6*x^3 - 2*x^2 - 6*x + 1,312,0,312,0,312,2,D(4),-389376,-292032,0,97344
606,x^4 - 7*x^3 - 2*x^2 - 7*x + 1,455,0,455,0,455,2,D(4),-828100,-621075,0,207025
1134,x^4 + x^3 - 8*x + 1,504,0,0,-63,63,2,D(4),-107163,0,285768,0
543,x^4 - 8*x^3 - 2*x^2 - 8*x + 1,640,0,640,0,640,2,D(4),-1638400,-1228800,0,409600
482,x^4 - 9*x^3 - 2*x^2 - 9*x + 1,873,0,873,0,873,2,D(4),-3048516,-2286387,0,762129
411,x^4 - 10*x^3 - 2*x^2 - 10*x + 1,1160,0,1160,0,1160,2,D(4),-5382400,-4036800,0,1345600
351,x^4 - 11*x^3 - 2*x^2 - 11*x + 1,1507,0,1507,0,1507,2,D(4),-9084196,-6813147,0,2271049
288,x^4 - 12*x^3 - 2*x^2 - 12*x + 1,1920,0,1920,0,1920,2,D(4),-14745600,-11059200,0,3686400
227,x^4 - 13*x^3 - 2*x^2 - 13*x + 1,2405,0,2405,0,2405,2,D(4),-23136100,-17352075,0,5784025
161,x^4 - 14*x^3 - 2*x^2 - 14*x + 1,2968,0,2968,0,2968,2,D(4),-35236096,-26427072,0,8809024
26,x^4 - 15*x^3 - 2*x^2 - 15*x + 1,3615,0,3615,0,3615,2,D(4),-52272900,-39204675,0,13068225
95,x^4 - 15*x^3 - 2*x^2 - 15*x + 1,3615,0,3615,0,3615,2,D(4),-52272900,-39204675,0,13068225

In [130]:
print(pd.unique(sep2["gcd"]))
print(pd.unique(sep1["gcd"]))

[3615 2968 2405 1920 1507 1160  873  640   63  455  312  205  128   40
   17]
[3135 2520 1989 1536 1155  840  585  384  231  120   21   24   15]

In [146]:
one_zeros=all_table[all_table["zero_terms"]==1].copy()
sepE=one_zeros[one_zeros["galois_group"]=="E(4) = 2[x]2"].copy()
sepD=one_zeros[one_zeros["galois_group"]=="D(4)"].copy()
sepS=one_zeros[one_zeros["galois_group"]=="S4"].copy()
sepC=one_zeros[one_zeros["galois_group"]=="C(4) = 4"].copy()

In [153]:
sepC["suma"]=sepC["quad_1"]+sepC["quad_3"]

In [154]:
sepC.sort_values(["term_0","term_1","term_2", "term_3"])

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3,suma
29088,x^4 - 15*x^3 - 6*x^2 + 15*x + 1,-3615,1928,3615,0,241,1,C(4) = 4,55990084,42921859,6969720,13068225,55990084
29089,x^4 - 15*x^3 - 6*x^2 + 15*x + 1,-3615,1928,3615,0,241,1,C(4) = 4,55990084,42921859,6969720,13068225,55990084
29091,x^4 - 14*x^3 - 6*x^2 + 14*x + 1,-2968,1696,2968,0,424,1,C(4) = 4,38112512,29303488,5033728,8809024,38112512
29093,x^4 - 13*x^3 - 6*x^2 + 13*x + 1,-2405,1480,2405,0,185,1,C(4) = 4,25326500,19542475,3559400,5784025,25326500
29095,x^4 - 12*x^3 - 6*x^2 + 12*x + 1,-1920,1280,1920,0,640,1,C(4) = 4,16384000,12697600,2457600,3686400,16384000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29173,x^4 + 11*x^3 - 6*x^2 - 11*x + 1,1507,1096,-1507,0,137,1,C(4) = 4,10285412,8014363,-1651672,2271049,10285412
29174,x^4 + 12*x^3 - 6*x^2 - 12*x + 1,1920,1280,-1920,0,640,1,C(4) = 4,16384000,12697600,-2457600,3686400,16384000
29177,x^4 + 13*x^3 - 6*x^2 - 13*x + 1,2405,1480,-2405,0,185,1,C(4) = 4,25326500,19542475,-3559400,5784025,25326500
29180,x^4 + 14*x^3 - 6*x^2 - 14*x + 1,2968,1696,-2968,0,424,1,C(4) = 4,38112512,29303488,-5033728,8809024,38112512
29182,x^4 + 15*x^3 - 6*x^2 - 15*x + 1,3615,1928,-3615,0,241,1,C(4) = 4,55990084,42921859,-6969720,13068225,55990084

In [163]:
sepC[~(sepC["discriminant"]==sepC["suma"])]

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3,suma
29094,x^4 - 13*x^3 + 4*x^2 + 8*x + 1,-280,0,560,105,35,1,C(4) = 4,2211125,470400,264600,313600,784000
29096,x^4 - 12*x^3 - 2*x^2 + 4*x + 1,0,128,256,128,128,1,C(4) = 4,131072,16384,32768,16384,32768
29105,x^4 - 8*x^3 + 14*x^2 - 7*x + 1,15,-30,0,15,15,1,C(4) = 4,1125,900,-2025,1350,2250
29106,x^4 - 7*x^3 - 6*x^2 + 2*x + 1,0,180,180,45,45,1,C(4) = 4,91125,32400,32400,8100,40500
29114,x^4 - 6*x^3 + x^2 + 4*x + 1,0,20,40,20,20,1,C(4) = 4,2000,400,800,400,800
29117,x^4 - 4*x^3 - 14*x^2 - 4*x + 1,320,960,320,0,320,1,C(4) = 4,512000,614400,307200,102400,716800
29118,x^4 - 4*x^3 - 11*x^2 - 4*x + 1,272,612,272,0,68,1,C(4) = 4,78608,152592,166464,73984,226576
29122,x^4 - 4*x^3 + x^2 + 6*x + 1,-160,0,80,-20,20,1,C(4) = 4,2000,38400,-28800,6400,44800
29125,x^4 - 3*x^3 + 4*x^2 - 2*x + 1,0,20,-20,5,5,1,C(4) = 4,125,400,-400,100,500
29129,x^4 - 2*x^3 + 4*x^2 - 3*x + 1,-5,0,10,-5,5,1,C(4) = 4,125,150,-225,100,250
29131,x^4 - x^3 - 9*x^2 - x + 1,45,315,45,0,45,1,C(4) = 4,91125,93150,14175,2025,95175
29133,x^4 - x^3 - 4*x^2 + 4*x + 1,-120,120,0,-15,15,1,C(4) = 4,1125,14400,-16200,5400,19800
29134,x^4 - x^3 + x^2 - x + 1,5,-15,5,0,5,1,C(4) = 4,125,150,-75,25,175
29137,x^4 + x^3 - 9*x^2 + x + 1,-45,315,-45,0,45,1,C(4) = 4,91125,93150,-14175,2025,95175
29139,x^4 + x^3 - 4*x^2 - 4*x + 1,120,120,0,-15,15,1,C(4) = 4,1125,14400,16200,5400,19800
29140,x^4 + x^3 + x^2 + x + 1,-5,-15,-5,0,5,1,C(4) = 4,125,150,75,25,175
29145,x^4 + 2*x^3 + 4*x^2 + 3*x + 1,5,0,-10,-5,5,1,C(4) = 4,125,150,225,100,250
29147,x^4 + 3*x^3 + 4*x^2 + 2*x + 1,0,20,20,5,5,1,C(4) = 4,125,400,400,100,500
29148,x^4 + 4*x^3 - 14*x^2 + 4*x + 1,-320,960,-320,0,320,1,C(4) = 4,512000,614400,-307200,102400,716800
29149,x^4 + 4*x^3 - 11*x^2 + 4*x + 1,-272,612,-272,0,68,1,C(4) = 4,78608,152592,-166464,73984,226576
29153,x^4 + 4*x^3 + x^2 - 6*x + 1,160,0,-80,-20,20,1,C(4) = 4,2000,38400,28800,6400,44800
29161,x^4 + 6*x^3 + x^2 - 4*x + 1,0,20,-40,20,20,1,C(4) = 4,2000,400,-800,400,800
29163,x^4 + 7*x^3 - 6*x^2 - 2*x + 1,0,180,-180,45,45,1,C(4) = 4,91125,32400,-32400,8100,40500
29169,x^4 + 8*x^3 + 14*x^2 + 7*x + 1,-15,-30,0,15,15,1,C(4) = 4,1125,900,2025,1350,2250
29175,x^4 + 12*x^3 - 2*x^2 - 4*x + 1,0,128,-256,128,128,1,C(4) = 4,131072,16384,-32768,16384,32768
29178,x^4 + 13*x^3 + 4*x^2 - 8*x + 1,280,0,-560,105,35,1,C(4) = 4,2211125,470400,-264600,313600,784000

In [134]:
sepS.sort_values(["term_0","term_1","term_2", "term_3"])

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3
15509,x^4 - x^3 + 12*x^2 + 12*x + 1,-1144,-1144,0,-143,143,1,S4,-1206491,1308736,-1472328,-490776
15324,x^4 - x^3 + 5*x^2 + 10*x + 1,-792,-396,0,-99,99,1,S4,-303831,156816,-705672,-117612
4431,x^4 - 14*x^3 + 3*x^2 + 10*x + 1,-768,0,1152,96,96,1,S4,7713792,2654208,663552,1327104
14768,x^4 - 2*x^3 + 15*x^2 + 10*x + 1,-384,-576,0,-96,96,1,S4,-746496,331776,-331776,-165888
15106,x^4 - x^3 - 3*x^2 + 6*x + 1,-280,140,0,-35,35,1,S4,-28175,19600,-88200,14700
...,...,...,...,...,...,...,...,...,...,...,...,...
16761,x^4 + x^3 - 3*x^2 - 6*x + 1,280,140,0,-35,35,1,S4,-28175,19600,88200,14700
18032,x^4 + 2*x^3 + 15*x^2 - 10*x + 1,384,-576,0,-96,96,1,S4,-746496,331776,331776,-165888
27769,x^4 + 14*x^3 + 3*x^2 - 10*x + 1,768,0,-1152,96,96,1,S4,7713792,2654208,-663552,1327104
16971,x^4 + x^3 + 5*x^2 - 10*x + 1,792,-396,0,-99,99,1,S4,-303831,156816,705672,-117612
17150,x^4 + x^3 + 12*x^2 - 12*x + 1,1144,-1144,0,-143,143,1,S4,-1206491,1308736,1472328,-490776

In [155]:
sepE["suma"]=sepE["quad_1"]+sepE["quad_3"]

In [156]:
sepE.sort_values(["term_0","term_1","term_2", "term_3"])

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3,suma
28981,x^4 - 15*x^3 - 14*x^2 + 15*x + 1,-4095,4368,4095,0,273,1,E(4) = 2[x]2,86155524,69386499,17886960,16769025,86155524
28983,x^4 - 15*x^3 - 14*x^2 + 15*x + 1,-4095,4368,4095,0,273,1,E(4) = 2[x]2,86155524,69386499,17886960,16769025,86155524
28988,x^4 - 12*x^3 - 8*x^2 + 12*x + 1,-2016,1680,2016,0,336,1,E(4) = 2[x]2,19079424,15015168,3386880,4064256,19079424
28989,x^4 - 12*x^3 - 5*x^2 + 12*x + 1,-1872,1092,1872,0,156,1,E(4) = 2[x]2,15210000,11705616,2044224,3504384,15210000
28991,x^4 - 12*x^3 + 12*x^2 + 12*x + 1,-1056,-880,1056,0,176,1,E(4) = 2[x]2,5234944,4119808,-929280,1115136,5234944
28995,x^4 - 8*x^3 - 10*x^2 + 8*x + 1,-768,1152,768,0,384,1,E(4) = 2[x]2,3686400,3096576,884736,589824,3686400
29065,x^4 + 6*x^3 - 15*x^2 + 6*x + 1,-624,1352,-624,0,104,1,E(4) = 2[x]2,270400,659776,-843648,389376,1049152
29000,x^4 - 6*x^3 - 14*x^2 + 6*x + 1,-504,1344,504,0,168,1,E(4) = 2[x]2,2822400,2568384,677376,254016,2822400
29001,x^4 - 6*x^3 - 7*x^2 + 6*x + 1,-336,504,336,0,168,1,E(4) = 2[x]2,705600,592704,169344,112896,705600
29058,x^4 + 4*x^3 - 12*x^2 + 4*x + 1,-288,720,-288,0,144,1,E(4) = 2[x]2,186624,269568,-207360,82944,352512
29002,x^4 - 6*x^3 - 3*x^2 + 6*x + 1,-240,200,240,0,40,1,E(4) = 2[x]2,270400,212800,48000,57600,270400
29006,x^4 - 4*x^3 - 13*x^2 + 4*x + 1,-240,900,240,0,60,1,E(4) = 2[x]2,1040400,982800,216000,57600,1040400
29053,x^4 + 3*x^3 - 12*x^2 + 3*x + 1,-195,650,-195,0,65,1,E(4) = 2[x]2,270400,308425,-126750,38025,346450
29013,x^4 - 4*x^3 + 15*x^2 - 4*x + 1,-144,612,-144,0,36,1,E(4) = 2[x]2,291600,312336,-88128,20736,333072
29056,x^4 + 3*x^3 + 10*x^2 - 3*x + 1,-117,312,117,0,39,1,E(4) = 2[x]2,152100,138411,36504,13689,152100
29008,x^4 - 4*x^3 - 4*x^2 + 4*x + 1,-96,144,96,0,48,1,E(4) = 2[x]2,57600,48384,13824,9216,57600
29062,x^4 + 4*x^3 + 8*x^2 - 4*x + 1,-96,144,96,0,48,1,E(4) = 2[x]2,57600,48384,13824,9216,57600
29070,x^4 + 6*x^3 + 11*x^2 - 6*x + 1,-96,144,96,0,48,1,E(4) = 2[x]2,57600,48384,13824,9216,57600
29049,x^4 + 2*x^3 - 7*x^2 + 2*x + 1,-80,200,-80,0,40,1,E(4) = 2[x]2,14400,20800,-16000,6400,27200
29051,x^4 + 2*x^3 + 5*x^2 - 2*x + 1,-48,72,48,0,24,1,E(4) = 2[x]2,14400,12096,3456,2304,14400
29005,x^4 - 6*x^3 + 13*x^2 - 6*x + 1,-48,120,-48,0,24,1,E(4) = 2[x]2,5184,7488,-5760,2304,9792
29016,x^4 - 3*x^3 + 8*x^2 - 3*x + 1,-45,150,-45,0,15,1,E(4) = 2[x]2,14400,16425,-6750,2025,18450
29011,x^4 - 4*x^3 + 8*x^2 - 4*x + 1,-32,80,-32,0,16,1,E(4) = 2[x]2,2304,3328,-2560,1024,4352
29052,x^4 + 2*x^3 + 5*x^2 + 4*x + 1,0,-12,-24,-12,12,1,E(4) = 2[x]2,144,144,288,144,288
29021,x^4 - 2*x^3 + 5*x^2 - 4*x + 1,0,-12,24,-12,12,1,E(4) = 2[x]2,144,144,-288,144,288
29010,x^4 - 4*x^3 + 5*x^2 - 2*x + 1,0,48,-48,12,12,1,E(4) = 2[x]2,144,2304,-2304,576,2880
29061,x^4 + 4*x^3 + 5*x^2 + 2*x + 1,0,48,48,12,12,1,E(4) = 2[x]2,144,2304,2304,576,2880
29084,x^4 + 14*x^3 - 3*x^2 - 4*x + 1,0,180,-360,180,180,1,E(4) = 2[x]2,291600,32400,-64800,32400,64800
28985,x^4 - 14*x^3 - 3*x^2 + 4*x + 1,0,180,360,180,180,1,E(4) = 2[x]2,291600,32400,64800,32400,64800
29074,x^4 + 8*x^3 - 7*x^2 - 2*x + 1,0,240,-240,60,60,1,E(4) = 2[x]2,176400,57600,-57600,14400,72000
28996,x^4 - 8*x^3 - 7*x^2 + 2*x + 1,0,240,240,60,60,1,E(4) = 2[x]2,176400,57600,57600,14400,72000
29063,x^4 + 4*x^3 + 8*x^2 + 4*x + 1,32,80,32,0,16,1,E(4) = 2[x]2,2304,3328,2560,1024,4352
29055,x^4 + 3*x^3 + 8*x^2 + 3*x + 1,45,150,45,0,15,1,E(4) = 2[x]2,14400,16425,6750,2025,18450
29022,x^4 - 2*x^3 + 5*x^2 + 2*x + 1,48,72,-48,0,24,1,E(4) = 2[x]2,14400,12096,-3456,2304,14400
29071,x^4 + 6*x^3 + 13*x^2 + 6*x + 1,48,120,48,0,24,1,E(4) = 2[x]2,5184,7488,5760,2304,9792
29018,x^4 - 2*x^3 - 7*x^2 - 2*x + 1,80,200,80,0,40,1,E(4) = 2[x]2,14400,20800,16000,6400,27200
29004,x^4 - 6*x^3 + 11*x^2 + 6*x + 1,96,144,-96,0,48,1,E(4) = 2[x]2,57600,48384,-13824,9216,57600
29012,x^4 - 4*x^3 + 8*x^2 + 4*x + 1,96,144,-96,0,48,1,E(4) = 2[x]2,57600,48384,-13824,9216,57600
29059,x^4 + 4*x^3 - 4*x^2 - 4*x + 1,96,144,-96,0,48,1,E(4) = 2[x]2,57600,48384,-13824,9216,57600
29017,x^4 - 3*x^3 + 10*x^2 + 3*x + 1,117,312,-117,0,39,1,E(4) = 2[x]2,152100,138411,-36504,13689,152100
29064,x^4 + 4*x^3 + 15*x^2 + 4*x + 1,144,612,144,0,36,1,E(4) = 2[x]2,291600,312336,88128,20736,333072
29014,x^4 - 3*x^3 - 12*x^2 - 3*x + 1,195,650,195,0,65,1,E(4) = 2[x]2,270400,308425,126750,38025,346450
29068,x^4 + 6*x^3 - 3*x^2 - 6*x + 1,240,200,-240,0,40,1,E(4) = 2[x]2,270400,212800,-48000,57600,270400
29057,x^4 + 4*x^3 - 13*x^2 - 4*x + 1,240,900,-240,0,60,1,E(4) = 2[x]2,1040400,982800,-216000,57600,1040400
29007,x^4 - 4*x^3 - 12*x^2 - 4*x + 1,288,720,288,0,144,1,E(4) = 2[x]2,186624,269568,207360,82944,352512
29067,x^4 + 6*x^3 - 7*x^2 - 6*x + 1,336,504,-336,0,168,1,E(4) = 2[x]2,705600,592704,-169344,112896,705600
29066,x^4 + 6*x^3 - 14*x^2 - 6*x + 1,504,1344,-504,0,168,1,E(4) = 2[x]2,2822400,2568384,-677376,254016,2822400
28999,x^4 - 6*x^3 - 15*x^2 - 6*x + 1,624,1352,624,0,104,1,E(4) = 2[x]2,270400,659776,843648,389376,1049152
29073,x^4 + 8*x^3 - 10*x^2 - 8*x + 1,768,1152,-768,0,384,1,E(4) = 2[x]2,3686400,3096576,-884736,589824,3686400
29082,x^4 + 12*x^3 + 12*x^2 - 12*x + 1,1056,-880,-1056,0,176,1,E(4) = 2[x]2,5234944,4119808,929280,1115136,5234944
29080,x^4 + 12*x^3 - 5*x^2 - 12*x + 1,1872,1092,-1872,0,156,1,E(4) = 2[x]2,15210000,11705616,-2044224,3504384,15210000
29079,x^4 + 12*x^3 - 8*x^2 - 12*x + 1,2016,1680,-2016,0,336,1,E(4) = 2[x]2,19079424,15015168,-3386880,4064256,19079424
29086,x^4 + 15*x^3 - 14*x^2 - 15*x + 1,4095,4368,-4095,0,273,1,E(4) = 2[x]2,86155524,69386499,-17886960,16769025,86155524

In [164]:
sepE.sort_values("gcd")

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3,suma
29061,x^4 + 4*x^3 + 5*x^2 + 2*x + 1,0,48,48,12,12,1,E(4) = 2[x]2,144,2304,2304,576,2880
29052,x^4 + 2*x^3 + 5*x^2 + 4*x + 1,0,-12,-24,-12,12,1,E(4) = 2[x]2,144,144,288,144,288
29021,x^4 - 2*x^3 + 5*x^2 - 4*x + 1,0,-12,24,-12,12,1,E(4) = 2[x]2,144,144,-288,144,288
29010,x^4 - 4*x^3 + 5*x^2 - 2*x + 1,0,48,-48,12,12,1,E(4) = 2[x]2,144,2304,-2304,576,2880
29016,x^4 - 3*x^3 + 8*x^2 - 3*x + 1,-45,150,-45,0,15,1,E(4) = 2[x]2,14400,16425,-6750,2025,18450
29055,x^4 + 3*x^3 + 8*x^2 + 3*x + 1,45,150,45,0,15,1,E(4) = 2[x]2,14400,16425,6750,2025,18450
29063,x^4 + 4*x^3 + 8*x^2 + 4*x + 1,32,80,32,0,16,1,E(4) = 2[x]2,2304,3328,2560,1024,4352
29011,x^4 - 4*x^3 + 8*x^2 - 4*x + 1,-32,80,-32,0,16,1,E(4) = 2[x]2,2304,3328,-2560,1024,4352
29051,x^4 + 2*x^3 + 5*x^2 - 2*x + 1,-48,72,48,0,24,1,E(4) = 2[x]2,14400,12096,3456,2304,14400
29005,x^4 - 6*x^3 + 13*x^2 - 6*x + 1,-48,120,-48,0,24,1,E(4) = 2[x]2,5184,7488,-5760,2304,9792
29022,x^4 - 2*x^3 + 5*x^2 + 2*x + 1,48,72,-48,0,24,1,E(4) = 2[x]2,14400,12096,-3456,2304,14400
29071,x^4 + 6*x^3 + 13*x^2 + 6*x + 1,48,120,48,0,24,1,E(4) = 2[x]2,5184,7488,5760,2304,9792
29064,x^4 + 4*x^3 + 15*x^2 + 4*x + 1,144,612,144,0,36,1,E(4) = 2[x]2,291600,312336,88128,20736,333072
29013,x^4 - 4*x^3 + 15*x^2 - 4*x + 1,-144,612,-144,0,36,1,E(4) = 2[x]2,291600,312336,-88128,20736,333072
29056,x^4 + 3*x^3 + 10*x^2 - 3*x + 1,-117,312,117,0,39,1,E(4) = 2[x]2,152100,138411,36504,13689,152100
29017,x^4 - 3*x^3 + 10*x^2 + 3*x + 1,117,312,-117,0,39,1,E(4) = 2[x]2,152100,138411,-36504,13689,152100
29068,x^4 + 6*x^3 - 3*x^2 - 6*x + 1,240,200,-240,0,40,1,E(4) = 2[x]2,270400,212800,-48000,57600,270400
29049,x^4 + 2*x^3 - 7*x^2 + 2*x + 1,-80,200,-80,0,40,1,E(4) = 2[x]2,14400,20800,-16000,6400,27200
29018,x^4 - 2*x^3 - 7*x^2 - 2*x + 1,80,200,80,0,40,1,E(4) = 2[x]2,14400,20800,16000,6400,27200
29002,x^4 - 6*x^3 - 3*x^2 + 6*x + 1,-240,200,240,0,40,1,E(4) = 2[x]2,270400,212800,48000,57600,270400
29004,x^4 - 6*x^3 + 11*x^2 + 6*x + 1,96,144,-96,0,48,1,E(4) = 2[x]2,57600,48384,-13824,9216,57600
29070,x^4 + 6*x^3 + 11*x^2 - 6*x + 1,-96,144,96,0,48,1,E(4) = 2[x]2,57600,48384,13824,9216,57600
29062,x^4 + 4*x^3 + 8*x^2 - 4*x + 1,-96,144,96,0,48,1,E(4) = 2[x]2,57600,48384,13824,9216,57600
29008,x^4 - 4*x^3 - 4*x^2 + 4*x + 1,-96,144,96,0,48,1,E(4) = 2[x]2,57600,48384,13824,9216,57600
29059,x^4 + 4*x^3 - 4*x^2 - 4*x + 1,96,144,-96,0,48,1,E(4) = 2[x]2,57600,48384,-13824,9216,57600
29012,x^4 - 4*x^3 + 8*x^2 + 4*x + 1,96,144,-96,0,48,1,E(4) = 2[x]2,57600,48384,-13824,9216,57600
28996,x^4 - 8*x^3 - 7*x^2 + 2*x + 1,0,240,240,60,60,1,E(4) = 2[x]2,176400,57600,57600,14400,72000
29057,x^4 + 4*x^3 - 13*x^2 - 4*x + 1,240,900,-240,0,60,1,E(4) = 2[x]2,1040400,982800,-216000,57600,1040400
29006,x^4 - 4*x^3 - 13*x^2 + 4*x + 1,-240,900,240,0,60,1,E(4) = 2[x]2,1040400,982800,216000,57600,1040400
29074,x^4 + 8*x^3 - 7*x^2 - 2*x + 1,0,240,-240,60,60,1,E(4) = 2[x]2,176400,57600,-57600,14400,72000
29053,x^4 + 3*x^3 - 12*x^2 + 3*x + 1,-195,650,-195,0,65,1,E(4) = 2[x]2,270400,308425,-126750,38025,346450
29014,x^4 - 3*x^3 - 12*x^2 - 3*x + 1,195,650,195,0,65,1,E(4) = 2[x]2,270400,308425,126750,38025,346450
28999,x^4 - 6*x^3 - 15*x^2 - 6*x + 1,624,1352,624,0,104,1,E(4) = 2[x]2,270400,659776,843648,389376,1049152
29065,x^4 + 6*x^3 - 15*x^2 + 6*x + 1,-624,1352,-624,0,104,1,E(4) = 2[x]2,270400,659776,-843648,389376,1049152
29007,x^4 - 4*x^3 - 12*x^2 - 4*x + 1,288,720,288,0,144,1,E(4) = 2[x]2,186624,269568,207360,82944,352512
29058,x^4 + 4*x^3 - 12*x^2 + 4*x + 1,-288,720,-288,0,144,1,E(4) = 2[x]2,186624,269568,-207360,82944,352512
28989,x^4 - 12*x^3 - 5*x^2 + 12*x + 1,-1872,1092,1872,0,156,1,E(4) = 2[x]2,15210000,11705616,2044224,3504384,15210000
29080,x^4 + 12*x^3 - 5*x^2 - 12*x + 1,1872,1092,-1872,0,156,1,E(4) = 2[x]2,15210000,11705616,-2044224,3504384,15210000
29001,x^4 - 6*x^3 - 7*x^2 + 6*x + 1,-336,504,336,0,168,1,E(4) = 2[x]2,705600,592704,169344,112896,705600
29000,x^4 - 6*x^3 - 14*x^2 + 6*x + 1,-504,1344,504,0,168,1,E(4) = 2[x]2,2822400,2568384,677376,254016,2822400
29066,x^4 + 6*x^3 - 14*x^2 - 6*x + 1,504,1344,-504,0,168,1,E(4) = 2[x]2,2822400,2568384,-677376,254016,2822400
29067,x^4 + 6*x^3 - 7*x^2 - 6*x + 1,336,504,-336,0,168,1,E(4) = 2[x]2,705600,592704,-169344,112896,705600
29082,x^4 + 12*x^3 + 12*x^2 - 12*x + 1,1056,-880,-1056,0,176,1,E(4) = 2[x]2,5234944,4119808,929280,1115136,5234944
28991,x^4 - 12*x^3 + 12*x^2 + 12*x + 1,-1056,-880,1056,0,176,1,E(4) = 2[x]2,5234944,4119808,-929280,1115136,5234944
29084,x^4 + 14*x^3 - 3*x^2 - 4*x + 1,0,180,-360,180,180,1,E(4) = 2[x]2,291600,32400,-64800,32400,64800
28985,x^4 - 14*x^3 - 3*x^2 + 4*x + 1,0,180,360,180,180,1,E(4) = 2[x]2,291600,32400,64800,32400,64800
28981,x^4 - 15*x^3 - 14*x^2 + 15*x + 1,-4095,4368,4095,0,273,1,E(4) = 2[x]2,86155524,69386499,17886960,16769025,86155524
28983,x^4 - 15*x^3 - 14*x^2 + 15*x + 1,-4095,4368,4095,0,273,1,E(4) = 2[x]2,86155524,69386499,17886960,16769025,86155524
29086,x^4 + 15*x^3 - 14*x^2 - 15*x + 1,4095,4368,-4095,0,273,1,E(4) = 2[x]2,86155524,69386499,-17886960,16769025,86155524
29079,x^4 + 12*x^3 - 8*x^2 - 12*x + 1,2016,1680,-2016,0,336,1,E(4) = 2[x]2,19079424,15015168,-3386880,4064256,19079424
28988,x^4 - 12*x^3 - 8*x^2 + 12*x + 1,-2016,1680,2016,0,336,1,E(4) = 2[x]2,19079424,15015168,3386880,4064256,19079424
28995,x^4 - 8*x^3 - 10*x^2 + 8*x + 1,-768,1152,768,0,384,1,E(4) = 2[x]2,3686400,3096576,884736,589824,3686400
29073,x^4 + 8*x^3 - 10*x^2 - 8*x + 1,768,1152,-768,0,384,1,E(4) = 2[x]2,3686400,3096576,-884736,589824,3686400

In [162]:
sepE[~(sepE["discriminant"]==sepE["suma"])]

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3,suma
28985,x^4 - 14*x^3 - 3*x^2 + 4*x + 1,0,180,360,180,180,1,E(4) = 2[x]2,291600,32400,64800,32400,64800
28996,x^4 - 8*x^3 - 7*x^2 + 2*x + 1,0,240,240,60,60,1,E(4) = 2[x]2,176400,57600,57600,14400,72000
28999,x^4 - 6*x^3 - 15*x^2 - 6*x + 1,624,1352,624,0,104,1,E(4) = 2[x]2,270400,659776,843648,389376,1049152
29005,x^4 - 6*x^3 + 13*x^2 - 6*x + 1,-48,120,-48,0,24,1,E(4) = 2[x]2,5184,7488,-5760,2304,9792
29007,x^4 - 4*x^3 - 12*x^2 - 4*x + 1,288,720,288,0,144,1,E(4) = 2[x]2,186624,269568,207360,82944,352512
29010,x^4 - 4*x^3 + 5*x^2 - 2*x + 1,0,48,-48,12,12,1,E(4) = 2[x]2,144,2304,-2304,576,2880
29011,x^4 - 4*x^3 + 8*x^2 - 4*x + 1,-32,80,-32,0,16,1,E(4) = 2[x]2,2304,3328,-2560,1024,4352
29013,x^4 - 4*x^3 + 15*x^2 - 4*x + 1,-144,612,-144,0,36,1,E(4) = 2[x]2,291600,312336,-88128,20736,333072
29014,x^4 - 3*x^3 - 12*x^2 - 3*x + 1,195,650,195,0,65,1,E(4) = 2[x]2,270400,308425,126750,38025,346450
29016,x^4 - 3*x^3 + 8*x^2 - 3*x + 1,-45,150,-45,0,15,1,E(4) = 2[x]2,14400,16425,-6750,2025,18450
29018,x^4 - 2*x^3 - 7*x^2 - 2*x + 1,80,200,80,0,40,1,E(4) = 2[x]2,14400,20800,16000,6400,27200
29021,x^4 - 2*x^3 + 5*x^2 - 4*x + 1,0,-12,24,-12,12,1,E(4) = 2[x]2,144,144,-288,144,288
29049,x^4 + 2*x^3 - 7*x^2 + 2*x + 1,-80,200,-80,0,40,1,E(4) = 2[x]2,14400,20800,-16000,6400,27200
29052,x^4 + 2*x^3 + 5*x^2 + 4*x + 1,0,-12,-24,-12,12,1,E(4) = 2[x]2,144,144,288,144,288
29053,x^4 + 3*x^3 - 12*x^2 + 3*x + 1,-195,650,-195,0,65,1,E(4) = 2[x]2,270400,308425,-126750,38025,346450
29055,x^4 + 3*x^3 + 8*x^2 + 3*x + 1,45,150,45,0,15,1,E(4) = 2[x]2,14400,16425,6750,2025,18450
29058,x^4 + 4*x^3 - 12*x^2 + 4*x + 1,-288,720,-288,0,144,1,E(4) = 2[x]2,186624,269568,-207360,82944,352512
29061,x^4 + 4*x^3 + 5*x^2 + 2*x + 1,0,48,48,12,12,1,E(4) = 2[x]2,144,2304,2304,576,2880
29063,x^4 + 4*x^3 + 8*x^2 + 4*x + 1,32,80,32,0,16,1,E(4) = 2[x]2,2304,3328,2560,1024,4352
29064,x^4 + 4*x^3 + 15*x^2 + 4*x + 1,144,612,144,0,36,1,E(4) = 2[x]2,291600,312336,88128,20736,333072
29065,x^4 + 6*x^3 - 15*x^2 + 6*x + 1,-624,1352,-624,0,104,1,E(4) = 2[x]2,270400,659776,-843648,389376,1049152
29071,x^4 + 6*x^3 + 13*x^2 + 6*x + 1,48,120,48,0,24,1,E(4) = 2[x]2,5184,7488,5760,2304,9792
29074,x^4 + 8*x^3 - 7*x^2 - 2*x + 1,0,240,-240,60,60,1,E(4) = 2[x]2,176400,57600,-57600,14400,72000
29084,x^4 + 14*x^3 - 3*x^2 - 4*x + 1,0,180,-360,180,180,1,E(4) = 2[x]2,291600,32400,-64800,32400,64800

In [136]:
sepD.sort_values(["term_0","term_1","term_2", "term_3"])

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3
2045,x^4 + 15*x^3 - 15*x^2 + 15*x + 1,-4395,3809,-4395,0,293,1,D(4),-62755619,-43439594,-16740555,19316025
2048,x^4 + 15*x^3 - 13*x^2 + 15*x + 1,-4275,3135,-4275,0,285,1,D(4),-63274275,-44998650,-13402125,18275625
2051,x^4 + 15*x^3 - 12*x^2 + 15*x + 1,-4215,2810,-4215,0,1405,1,D(4),-63168800,-45402575,-11844150,17766225
2053,x^4 + 15*x^3 - 11*x^2 + 15*x + 1,-4155,2493,-4155,0,831,1,D(4),-62841051,-45577026,-10358415,17264025
1,x^4 - 15*x^3 - 15*x^2 + 15*x + 1,-4155,4709,4155,0,277,1,D(4),91230781,73966756,19565895,17264025
...,...,...,...,...,...,...,...,...,...,...,...,...
74,x^4 - 15*x^3 - 12*x^2 - 15*x + 1,4215,2810,4215,0,1405,1,D(4),-63168800,-45402575,11844150,17766225
3,x^4 - 15*x^3 - 13*x^2 - 15*x + 1,4275,3135,4275,0,285,1,D(4),-63274275,-44998650,13402125,18275625
72,x^4 - 15*x^3 - 13*x^2 - 15*x + 1,4275,3135,4275,0,285,1,D(4),-63274275,-44998650,13402125,18275625
0,x^4 - 15*x^3 - 15*x^2 - 15*x + 1,4395,3809,4395,0,293,1,D(4),-62755619,-43439594,16740555,19316025
69,x^4 - 15*x^3 - 15*x^2 - 15*x + 1,4395,3809,4395,0,293,1,D(4),-62755619,-43439594,16740555,19316025

In [48]:
non_zeros=all_table[all_table["zero_terms"]==0]
sepE_non=non_zeros[non_zeros["galois_group"]=="E(4) = 2[x]2"]
sepD_non=non_zeros[non_zeros["galois_group"]=="D(4)"]
sepS_non=non_zeros[non_zeros["galois_group"]=="S4"]
sepC_non=non_zeros[non_zeros["galois_group"]=="C(4) = 4"]
sepA_non=non_zeros[non_zeros["galois_group"]=="A4"]

In [50]:
sepC_non.sort_values(["term_0","term_1","term_2", "term_3"])

,polynomial,term_0,term_1,term_2,term_3,gcd,zero_terms,galois_group,discriminant,quad_1,quad_2,quad_3
7536,x^4 - 6*x^3 - 4*x^2 + 9*x + 1,-825,480,510,-45,15,0,C(4) = 4,946125,1492650,-89325,324900
7546,x^4 - 2*x^3 - 6*x^2 + 7*x + 1,-495,450,90,-45,45,0,C(4) = 4,91125,336150,-159975,68850
7530,x^4 - 9*x^3 - 4*x^2 + 6*x + 1,-240,300,420,45,15,0,C(4) = 4,946125,392400,223200,135900
7566,x^4 + 4*x^3 + 6*x^2 - x + 1,-55,130,100,15,5,0,C(4) = 4,15125,33400,20425,4150
7557,x^4 + x^3 + 6*x^2 - 4*x + 1,-40,40,40,-15,5,0,C(4) = 4,15125,6400,-3800,3400
7564,x^4 + 4*x^3 - 4*x^2 - x + 1,-15,60,-60,15,15,0,C(4) = 4,1125,900,-1575,900
7540,x^4 - 4*x^3 - 4*x^2 + x + 1,15,60,60,15,15,0,C(4) = 4,1125,900,1575,900
7552,x^4 - x^3 + 6*x^2 + 4*x + 1,40,40,-40,-15,5,0,C(4) = 4,15125,6400,3800,3400
7542,x^4 - 4*x^3 + 6*x^2 + x + 1,55,130,-100,15,5,0,C(4) = 4,15125,33400,-20425,4150
7576,x^4 + 9*x^3 - 4*x^2 - 6*x + 1,240,300,-420,45,15,0,C(4) = 4,946125,392400,-223200,135900
7558,x^4 + 2*x^3 - 6*x^2 - 7*x + 1,495,450,-90,-45,45,0,C(4) = 4,91125,336150,159975,68850
7569,x^4 + 6*x^3 - 4*x^2 - 9*x + 1,825,480,-510,-45,15,0,C(4) = 4,946125,1492650,89325,324900

In [137]:
for g in range(0,4):
    unico=np.sort(pd.unique(sepD["term_"+str(g)]))
    print(0 in unico)

True
True
False
True

In [138]:
for g in range(0,4):
    unico=np.sort(pd.unique(sepE["term_"+str(g)]))
    print(0 in unico)

True
False
False
True

In [139]:
for g in range(0,4):
    unico=np.sort(pd.unique(sepC["term_"+str(g)]))
    print(0 in unico)

True
True
True
True

In [140]:
for g in range(0,4):
    unico=np.sort(pd.unique(sepS["term_"+str(g)]))
    print(0 in unico)

False
True
True
False

In [141]:
sum(sepD["discriminant"]<=0)

670

In [142]:
sum(sepC["discriminant"]<=0)

0

In [143]:
sum(sepS["discriminant"]<=0)

122

In [144]:
sum(sepE["discriminant"]<=0)

0